#fixedbarUp {
  margin-left: -10px;
}
#fixedbarUp div {
  font-family: subtitleFont;
  font-size: 15pt;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  width: 64px;
  height: 64px;
}
#fixedbarUp a {
  display: block;
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
}
#fixedbarUp a img {
  opacity: 0;
}
#fixedbarUp #twitter {
  margin-left: 15px;
  background: url("/media/img/twitter.png") no-repeat center;
}
#fixedbarUp #twitter:hover {
  background: url("/media/img/twitterHover.png") no-repeat center;
}
#fixedbarUp #rss {
  margin-left: 85px;
  margin-top: -45px;
  background: url("/media/img/rss.png") no-repeat center;
}
#fixedbarUp #rss:hover {
  background: url("/media/img/rssHover.png") no-repeat center;
}
#fixedbarUp #github {
  margin-left: 145px;
  margin-top: -25px;
  background: url("/media/img/github.png") no-repeat center;
}
#fixedbarUp #github:hover {
  background: url("/media/img/githubHover.png") no-repeat center;
}
#fixedbarUp #gmail {
  margin-left: 165px;
  margin-top: 5px;
  background: url("/media/img/gmail.png") no-repeat center;
}
#fixedbarUp #about {
  min-width: 128px;
  min-height: 128px;
  max-width: 128px;
  max-height: 128px;
  border-radius: 128px;
  border-top: solid 1px #999;
  border-right: solid 1px #999;
  text-align: center;
  vertical-align: middle;
  margin-top: -90px;
  margin-left: 10px;
  line-height: 100px;
  font-family: subtitleFont;
  font-size: 25pt;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 1px #333;
  font-weight: bold;
  box-shadow: -2px 2px 2px rgba(150,150,150,0.50) inset, 20px -25px 20px rgba(150,150,150,0.10);
  background: url("/media/img/about.png") no-repeat right;
}
#fixedbarUp #about:hover {
  text-shadow: 0 1px 1px #000;
  box-shadow: -2px 2px 2px rgba(150,150,150,0.80) inset, 20px -25px 20px rgba(150,150,150,0.10);
  background: url("/media/img/aboutHover.png") no-repeat right;
}
#fixedbarDown {
  height: 100%;
  margin-left: -10px;
  margin-top: 0px;
  padding: 10px 15px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  box-shadow: 0 0 3px rgba(150,150,150,0.30);
  background-color: rgba(220,220,220,0.10);
}
#fixedbarDown .subtitle {
  font-family: subtitleFont;
  font-size: 18pt;
  letter-spacing: 2px;
  border-bottom: solid 1px #999;
  padding: 0;
  margin: 0;
}
#fixedbarDown #tags,
#fixedbarDown #links {
  text-align: justify;
}
#fixedbarDown #tags p,
#fixedbarDown #links p {
  margin: 5px;
}
#fixedbarDown #tags a,
#fixedbarDown #links a {
  color: #000;
  text-decoration: none;
}
#fixedbarDown #tags a:hover,
#fixedbarDown #links a:hover {
  color: #370032;
  border-bottom: solid 3px #370032;
}
