.post {
  margin: 0 auto 30px auto;
  padding: 50px;
  background-color: rgba(255,255,255,0.90);
  box-shadow: 0 0 5px rgba(0,0,0,0.30);
}
.post .postHeading {
  width: 122%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -25px;
  left: -125px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.20);
  overflow: hidden;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  background-color: #f6f6f6;
}
.post .postHeading .postTitle {
  float: left;
  width: 80%;
  padding: 15px 20px;
  text-shadow: 0 1px 2px #999;
}
.post .postHeading .postTitle a {
  display: block;
  font-size: 20pt;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.post .postHeading .postTitle a:hover {
  color: rgba(50,0,50,0.90);
  text-decoration: underline;
  text-shadow: 0 0 3px rgba(100,0,50,0.30);
}
.post .postHeading .postTime {
  float: left;
  background: transparent;
  width: 75px;
  height: 75px;
  text-align: center;
}
.post .postHeading .postTime .createdYear {
  display: none;
}
.post .postHeading .postTime .createdMonthWrapper {
  background-color: #fff;
  height: 50%;
}
.post .postHeading .postTime .createdMonthWrapper .createdMonth {
  background-color: #903;
  -moz-border-radius-bottomleft: 50px;
  -webkit-border-bottom-left-radius: 50px;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 20pt;
  font-family: sans-serif;
}
.post .postHeading .postTime .createdDayWrapper {
  background-color: #903;
  height: 50%;
}
.post .postHeading .postTime .createdDayWrapper .createdDay {
  background-color: #fff;
  -moz-border-radius-topright: 50px;
  -webkit-border-top-right-radius: 50px;
  height: 100%;
  color: #903;
  font-weight: bold;
  font-size: 15pt;
  font-family: sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,0.50);
}
.post .postBody {
  position: relative;
  clear: both;
}
.post .postBody p {
  line-height: 140%;
}
.post .postBody h1,
.post .postBody h2,
.post .postBody h3,
.post .postBody h4 {
  color: #111;
  text-shadow: 0 1px 1px #999;
}
.post .postBody h5,
.post .postBody h6,
.post .postBody p {
  color: #333;
}
.post .postBody code {
  border: solid 1px #bbb;
  font-size: 0.8em;
  background-color: rgba(255,255,255,0.40);
  padding: 1.5px;
  color: #044;
}
.post .postBody a {
  text-decoration: none;
  color: #803;
}
.post .postBody a:hover {
  text-shadow: 0 0 1px rgba(200,0,50,0.80);
  text-decoration: underline;
}
.post .postBody hr {
  border: none;
  border-bottom: solid 0.5px #bbb;
}
.post .postBody blockquote {
  border-left: solid 7px #cfcfcf;
  padding-left: 10px;
}
.post .postBody blockquote p {
  font-style: oblique;
  color: #777;
}
.post .postTags {
  border-left: solid 10px #bbb;
  border-top: solid 2px #bbb;
  padding: 3px 10px;
  margin: 0;
  color: #666;
}
.postButtons {
  text-align: center;
  overflow: hidden;
  width: 150px;
  padding: 5px;
  margin: 0 auto;
  font-size: 15pt;
}
.postButtons .prevButton,
.postButtons .nextButton,
.postButtons .homeButton {
  float: left;
  width: 30%;
  height: 30px;
  margin: 0;
  background-color: rgba(150,150,150,0.30);
}
.postButtons .prevButton a,
.postButtons .nextButton a,
.postButtons .homeButton a {
  color: #666;
  text-decoration: none;
}
.postButtons .prevButton:hover,
.postButtons .nextButton:hover,
.postButtons .homeButton:hover {
  background-color: rgba(150,0,50,0.30);
  text-shadow: 0 0 2px #333;
  cursor: pointer;
}
.postButtons .prevButton:hover a,
.postButtons .nextButton:hover a,
.postButtons .homeButton:hover a {
  color: #960032;
}
.postButtons .prevButton {
  -moz-border-radius-topleft: 100px;
  -moz-border-radius-bottomleft: 100px;
  -webkit-border-radius-topleft: 100px;
  -webkit-border-radius-bottomleft: 100px;
}
.postButtons .nextButton {
  -moz-border-radius-topright: 100px;
  -moz-border-radius-bottomright: 100px;
  -webkit-border-radius-topright: 100px;
  -webkit-border-radius-bottomright: 100px;
}
.postButtons .homeButton {
  background-color: rgba(150,150,150,0.50);
}
.postButtons .homeButton img {
  width: 60%;
}
