#fixedbarUp
  margin-left -10px

  div
    font-family subtitleFont
    font-size 15pt
    letter-spacing 2px
    text-align center
    vertical-align middle
    width 64px
    height 64px

  a
    display block
    min-width 64px
    min-height 64px
    max-width 64px
    max-height 64px

  #twitter
    margin-left 15px
    background url('/media/img/twitter.png') no-repeat center
    &:hover
      background url('/media/img/twitterHover.png') no-repeat center

  #rss
    margin-left 85px
    margin-top -45px
    background url('/media/img/rss.png') no-repeat center
    &:hover
      background url('/media/img/rssHover.png') no-repeat center

  #github
    margin-left 145px
    margin-top -25px
    background url('/media/img/github.png') no-repeat center
    &:hover
      background url('/media/img/githubHover.png') no-repeat center

  #gmail
    margin-left 165px
    margin-top 5px
    background url('/media/img/gmail.png') no-repeat center
    &:hover
      background url('/media/img/gmailHover.png')

#fixedbarDown
  height 100%
  margin-left -10px
  margin-top 20px
  padding 10px 15px
  border-top solid 1px #CCCCCC
  border-right solid 1px #CCCCCC
  border-bottom solid 1px #CCCCCC
  box-shadow 0 0 3px rgba(150, 150, 150, 0.3)
  background-color rgba(220, 220, 220, 0.1)

  .subtitle
    font-family subtitleFont
    font-size 18pt
    letter-spacing 2px
    border-bottom solid 1px #999999
    padding 0
    margin 0


  #tags
  #links
    text-align justify

    p
      margin 5px

    a
      color black
      text-decoration none

      &:hover
        color rgba(55, 0, 50, 1)
        border-bottom solid 3px rgba(55, 0, 50, 1)


