#NullSpace
  padding 0
  margin 0
  text-align left
  padding 40px 80px

  a
    color black
    text-decoration none
    font-size 40pt
    vertical-align middle

  p
    font-weight normal
    font-size 10pt
    color #666666

  #Null
    font-family nullFont
    color black
    z-index 50
    font-size 95pt
    font-weight bold
    text-shadow 0 0 2px rgba(0, 0, 100, 0.9)
    letter-spacing -10px 

  #Space
    font-family spaceFont
    font-size 75pt
    z-index -50
    margin-left -45px
    margin-top 30px
    color rgba(155, 0, 50, 1)
    text-shadow 0 0 3px black


