@font-face {
  font-family nullFont
  src url('/media/stylus/fonts/ARGOS.TTF')
}

@font-face {
  font-family spaceFont
  src url('/media/stylus/fonts/ARGOS.TTF')
}

@font-face {
  font-family subtitleFont
  src url('/media/stylus/fonts/asenine/ASENINE_.ttf')
}

@font-face {
  font-family serifFont
  src url('/media/stylus/fonts/Gentium102/GenR102.TTF')
}

@font-face {
  font-family sansSerifFont
  src url('/media/stylus/fonts/baars.ttf')
}

body
  background url('/media/img/paper.jpg')
  background-attachment fixed
  margin 0
  padding 0
  font-family sansSerifFont

#header
  background url('/media/img/phoenix.png') no-repeat
  background-position -250px -50px
  width 100%
  height 850px
  color #BBBBBB
  text-align center
  margin 0
  padding 0
  overflow hidden
  //border-bottom solid 1px rgba(100, 100, 100, 0.6)

#sidebar
  margin 0
  padding 0
  width 250px
  height 100%
  position fixed 
  top 0
  right 0
  color black 
  z-index 100

#mainContent
  margin 0 50px
  padding 250px 20px 20px 20px
  background-color rgba(200, 200, 200, 0.3)
  width 800px
  box-shadow 0 0 3px rgba(0, 0, 0, 0.5)
  margin-top -850px

#footer
  margin 0 50px
  padding 20px 20px 70px 20px 
  background-color rgba(200, 200, 200, 0.7)
  width 800px
  box-shadow 0 3px 3px rgba(0, 0, 0, 0.5)
  text-align center
  
  p
    padding 0
    margin 0

  strong
    color #990033
    font-weight normal
    font-style oblique 

#fixedbar
  width 225px
  height 100%
  background transparent
  position fixed
  top 0
  left 900px
  margin 0
  padding-top 50px

#upFading
  width 100%
  height 80px
  position fixed
  top 0
  background -moz-linear-gradient(bottom, rgba(250, 250, 250, 0), rgba(255, 255, 255, 1))

#downFading
  width 100%
  height 30px
  position fixed
  bottom 0
  background -moz-linear-gradient(top, rgba(250, 250, 250, 0), rgba(255, 255, 255, 1))

.equation
  color black
