body
  background url('/media/img/body.jpg')
  margin 0
  padding 0

#header
  width 100%
  height 150px
  background url('/media/img/header.jpg')
  color #BBBBBB
  text-align center
  margin 0
  padding 0
  overflow hidden
  border-bottom solid 1px rgba(100, 100, 100, 0.6)

#sidebar
  display none
  margin 0
  padding 0
  width 250px
  height 100%
  position fixed 
  top 0
  left 0
  color black 
  z-index 100

#mainContent
#footer
  margin 0 auto
  padding 0
  width 800px

#mainContent
  margin-top -45px
  background url('/media/img/body.jpg')

#footer
  text-align center
