.pagination
  font-size 1.2em
  font-weight bold

  .current p
    width 50%
    -moz-box-shadow -0.5px -0.5px 5px rgba(0, 0, 0, 0.9) inset
    -moz-border-radius 7px
    border-top solid 1px rgba(50, 50, 50, 0.8)
    border-left solid 1px rgba(50, 50, 50, 0.8)
    padding 5px
    margin 0 auto

    .pageInfo
      color black
      text-shadow 0 1px 1px #555555

    a
      text-decoration none
      text-shadow 0 1px 1px #666666
      color #330011

      &:hover
        color #660033
