.pagination
  font-size 1.2em
  font-weight bold

  .current p
    width 50%
    -moz-border-radius 7px
    padding 5px
    margin 0 auto

    .pageInfo
      color black
      text-shadow 0 1px 1px #555555

    a
      text-decoration none
      text-shadow 0 1px 1px #666666
      color #330011

      &:hover
        color #660033
