postPadding = 50px
postTimeSize = 75px

.post
  margin 0 auto 30px auto
  padding postPadding
  background-color rgba(255, 255, 255, 0.9)
  -moz-box-shadow 0 0 5px rgba(0, 0, 0, 0.3)

  .postHeading
    width 122%
    margin 0
    padding 0
    position relative
    top -25px
    left -(postPadding + postTimeSize)
    -moz-box-shadow 0px 2px 2px rgba(0, 0, 0, 0.2) 
    overflow hidden
    //-moz-border-radius-topleft 15px
    //-moz-border-radius-bottomleft 30px
    -moz-border-radius-bottomright 30px
    background-color #F6F6F6 

    .postTitle
      float left
      width 80%
      padding 15px 20px
      text-shadow 0 1px 2px #999999

      a
        display block
        font-size 20pt
        font-weight bold
        text-decoration none
        color black
        &:hover
          color rgba(100, 0, 50, 0.8)


    .postTime
      float left
      //position relative
      //top -25px
      //left -(postPadding + postTimeSize)
      background transparent 
      width postTimeSize
      height @width 
      text-align center

      .createdYear
        display none

      .createdMonthWrapper
        //-moz-border-radius-topleft 15px
        background-color white 
        height 50%
      
        .createdMonth
          background-color #990033
          //-moz-border-radius-topleft 15px
          -moz-border-radius-bottomleft 50px
          height 100%
          color white
          font-weight bold
          font-size 20pt
          font-family sans-serif
  
      .createdDayWrapper
        background-color #990033
        height 50%

        .createdDay
          background-color white
          -moz-border-radius-topright 50px
          height 100%
          color #990033 
          font-weight bold
          font-size 15pt
          font-family sans-serif
          text-shadow 0 1px 1px rgba(0, 0, 0, 0.5)

  .postBody
    position relative
    clear both

    p
      line-height 130%

    h1, h2, h3, h4
      color #111111
      text-shadow 0 1px 1px #999999

    h5, h6, p
      color #333333

    code
      border solid 1px #BBBBBB
      font-size 0.8em
      background-color rgba(255, 255, 255, 0.4)
      padding 0.5px
      color #006666 

    a
      text-decoration none
      color #880033
      &:hover
        text-shadow 0 0 1px rgba(200, 0, 50, 0.8)
        text-decoration underline 

    hr
      border none
      border-bottom solid 0.5px #BBBBBB

    blockquote
      border-left solid 7px #CFCFCF
      padding-left 10px

      p
        font-style oblique
        color #777777

  .postTags
    border-left solid 10px #BBBBBB
    border-top solid 2px #BBBBBB
    padding 3px 10px
    margin 0
    color #666666
