#sidebarContent

  margin 0
  padding 0
  border-left solid 15px black
  -moz-box-shadow 0 0 5px black, -1px 0 2px #EEEEEE inset
  overflow hidden
  float left 
  width 85%
  height 100%
  background -moz-linear-gradient(left, rgba(250, 250, 250, 0.6), #777777)

  .sidebarTitle
    color #333333
    font-size 12pt
    font-weight bold
    text-shadow 0 1px 1px white
    margin 20px auto 0 auto
    padding 5px 20px
    background -moz-linear-gradient(top, rgba(250, 250, 250, 0.6), rgba(250, 250, 250, 0.2))
    -moz-border-radius-bottomleft 20px
    border-bottom solid 1px rgba(50, 50, 50, 0.7)

    a
      color #333333
      text-decoration none
  
  .month
  .category
    font-weight bold
    list-style-type none
    border-bottom solid 1px rgba(50, 50, 50, 0.7)
    -moz-border-radius-bottomleft 50px
    -moz-box-shadow 0 10px 10px rgba(50, 50, 50, 0.2) 
    background -moz-linear-gradient(top, rgba(250, 250, 250, 0.6), rgba(250, 250, 250, 0.2))
    padding 4px 35px
    margin 0
    text-shadow 0 1px 1px white

    &:hover
      background -moz-linear-gradient(top, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.6))

    a
      text-decoration none
      color #444444

      &:hover
        color #003366

  .year
    font-weight bold
    list-style-type none
    text-align right
    padding-right 15px
    background -moz-linear-gradient(left, rgba(250, 250, 250, 0.0), rgba(50, 50, 50, 0.3))

  .archieves
  .categories
    margin 0 auto 10px 20px 
    padding-left 20px
    padding-bottom 20px
    border-left solid 1px rgba(100, 100, 100, 0.3)
    -moz-border-radius-bottomleft 20px
    -moz-border-radius-topleft 5px
    -moz-box-shadow -2px 5px 5px #777777

#sidebarButton
  float left 
  color white 
  background-color black
  height 50px
  width 20px
  -moz-border-radius-bottomleft 20px
  -moz-box-shadow 0 0 5px black
  font-weight bold

  &:hover
    text-shadow 0 0 1px white
    cursor pointer
