{% extends 'frame.html' %}

{% block mainContent %}
<div class="aboutPage">
  <div class="aboutTitle">
    <p>About</p>
  </div>

  <div class="about">
    <p>本人zero，就读于中山大学软件学院。本来我对计算机毫无认识，在高三也不知道C语言为何物，可谓起步甚晚，其实我当时压根就没想到过读计算机的，因为在我的印象中计算机只是一个非常死板的机器，对于本来充满艺术细胞的我来说，这确实不能引起我的兴趣。由于高考的缘故，我还是被分进了软件学院，有人说这是低分扎堆的高考埋葬场。不过渐渐的我倒庆幸当初被分进了软院（不是因为其教学模式而庆幸，而是因为它让我接触到了计算机领域而庆幸），并渐渐与计算机交了朋友。慢慢地我发现其实计算机是艺术于技术的结合，理性与感性的共同体，可以通过一些看似机械死板的逻辑创造出令人赞叹的艺术效果。其实在心底里，我仍不能抛弃那颗追求艺术的心。</p> 
    <p>我不是一个吐槽者，我每当看到别人吐槽的时候总会去想想他们吐槽的对象是否真的毫无价值，所以在别人看来我可能是一个温和的人，但对于某些事物我却非常偏激，如语言，如社会云云。</p>
    <p>学了计算机三年有余，前两年几乎都没有什么作为，基本上处于一个混沌的状态，在学什么和怎么学这些问题上徘徊不前，而在这徘徊的过程中，我把大部分的精力都放在了课程学习上，并且混到了不错的绩点。但是同时因为这样，我并没能做出什么好玩的东西。追求艺术的心在一定程度上使得我在代码于艺术设计上也徘徊了很久，大一大二我曾有一段时间沉醉于PS，AE等视觉设计软件，但后来发现这些实用性的技能确实可以通过需求学习来完成，有需求才需要去学习。本学期的图像处理课程上，朝老师告诫我们说，我们跟别人的区别在于用软件还是设计软件，所以到了大三，我基本上跟那些东西说再见了。</p>
    <p>虽然大三我率性而行，去做自己喜欢的事情，但同时我的绩点也慢慢开始下降，这再一次应验这鱼与熊掌不可兼得的道理。但是我却没有后悔，估计是因为没有挂科的缘故...</p>
    <p>大学生涯已经严重过半，希望籍此博客敦促自己学习并且多多与大家交流～</p>

    <ul>
      <li>操作系统：Archlinux</li>
      <li>编辑器：Vim</li>
      <li>编程语言：C/C++, JavaScript, Python, Haskell, Scheme</li>
      <li>人类语言：粤语，英语，法语，国语（这个可以忽略）</li>
      <li>联系方式：Gmail</li>
    </ul>

  </div>
</div>  
{% endblock %}
