{% extends 'frame.html' %}

{% block mainContent %}
<div class="archievePage">
  <div class="archieveTitle">
    <p>Archieve</p>
  </div>

  <div class="archieve">
  <ul class="years">
  {% for year in archieve %}
    <li class="year">
      <p>{{ year.year }}</p>
      <ul class="months">
        {% for month in year.months %}
          <li class="month">
            <p>{{ month.month }}({{ month.blogs|length }})</p>
            <ul class="postTitles">
              {% for blog in month.blogs %}
                <li class="postTitle">
                  <a href="/index/{{ blog.slug }}">{{ blog.title }}</a>&nbsp;
                  <span class="postCreated">&#9998;{{ blog.created }}</span>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
  </div>
</div>
{% endblock %}
