{% load gravatar %}
{% load markup %}

<div class="comments">
  {% for comment in comments %}
    {% if comment.approved %}
      <div class="comment">
        <div class="commentLeft">
          <div class="commentGravatar">
            <img src="{% gravatar_url comment.email %}" alt="default" class="gravatar" />
          </div>
          <div class="commentVisitor">{{ comment.visitor }}</div>
        </div>
        <div class="commentRight">
          <div class="commentCreated">{{ comment.created }}</div>
          <div class="commentContent">{{ comment.content|markdown:'codehilite' }}</div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
