<div id="fixedbar">

  <div id="fixedbarUp">
    <a id="twitter" href="https://github.com/Aquietzero"></a>
    <a id="rss" href="https://github.com/Aquietzero"></a>
    <a id="github" href="https://github.com/Aquietzero"></a>
    <a id="gmail" href="https://github.com/Aquietzero"></a>
  </div>

  <div id="fixedbarDown">
    <div id="tags">
      <p class="subtitle">Tags</p>
      <p>
        {% for tag in tags %}
        <a href="/index/tags/{{ tag.name }}"><span style="font-size:{{ tag.fontSize }}px">{{ tag.name }}</span></a>
        {% endfor %}
      </p>
    </div>

    <div id="links">
      <p class="subtitle">Links</p>
      <ul>
        <li><a href="http://typedef.me">typedef.me</a></li>
        <li><a href="http://blog.lovemaple.info">maple</a></li>
      </ul>
    </div>
  </div>

</div>
