{% extends 'frame.html' %}

{% block media %}
  <link rel="stylesheet" href="/media/css/bundle.css" type="text/css" />
  <script type="text/javascript" src="/media/js/MathJax/MathJax.js?config=default.js"></script>
  <script type="text/javascript" src="/media/js/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="/media/js/sidebar.js"></script>
{% endblock %}

{% block title %}
  {{ post.title }} 
{% endblock %}

{% block mainContent %}
  {% include 'post.html' %}
  <div class="postButtons">
    <div class="prevButton">
      <a href="/post/{{ post.slug }}prev">&#9666;</a>
    </div>
    <div class="homeButton">
      <a href="/index/"><img src='/media/img/home1.png'></a>
    </div>
    <div class="nextButton">
      <a href="/post/{{ post.slug }}next">&#9656;</a>
    </div>
  </div>
{% endblock %}

