{% load markup %}

<div class="post">

  <div class="postHeading">
    <div class="postTime">
      <div class="createdYear">{{ post.created|date:'Y' }}</div>
      <div class="createdMonthWrapper">
        <div class="createdMonth">{{ post.created|date:'M' }}</div>
      </div>
      <div class="createdDayWrapper">
        <div class="createdDay">{{ post.created|date:'d' }}</div>
      </div>
    </div>

    <div class="postTitle">
      <a href="{{ post.slug }}">{{ post.title }}</a>
    </div>
  </div>
  
  <div class="postBody">
    <p>{{ post.body|markdown:'codehilite(force_linenos=True)' }}</p>
  </div>

  <div class="postTags">
    <p>{{ post.tags.all }}</p>
  </div>

</div>
