{% extends 'frame.html' %}

{% block media %}
  <link rel="stylesheet" href="/media/css/bundle.css" type="text/css" />
  <script type="text/javascript" src="/media/js/MathJax/MathJax.js?config=default.js"></script>
  <script type="text/javascript" src="/media/js/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="/media/js/sidebar.js"></script>
{% endblock %}

{% block title %}
  {{ blog.title }} 
{% endblock %}

{% block mainContent %}
  {% include 'post.html' %}
{% endblock %}

