<div id="sidebarButton">
  <p>&nbsp;&rsaquo;&rsaquo;</p>
</div>

<div id="sidebarContent">
  <div id="archieves">
    <h3 class="sidebarTitle"><a href="/index/archieve">Archieve</a></h3>
    {% for year in archieve %}
    <ul class="archieves">
      <li class="year">{{ year.year }}</li>
      {% for month in year.months %}
      <li class="month">
        <a href="/index/created/{{ year.year }}/{{ month.month }}">
          {{ month.month }}({{ month.blogs|length }})
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>

  <div id="categories">
    <h3 class="sidebarTitle">Categories</h3>
    <ul class="categories">
      {% for category in categories %}
      <li class="category">
        <a href="/index/category/{{ category.name }}">{{ category.name }}({{ category.size }})</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

