<div id="archieves">
  <p>Archieve</p>
  {% for year in archieve %}
    <ul>{{ year.year }}</ul>
    {% for month in year.months %}
      <ul>{{ month.month }}({{ month.size }})</ul>
    {% endfor %}
  {% endfor %}
</div>

<div id="categories">
  <p>Categories</p>
  {% for category in categories %}
    <ul>{{ category.name }}({{ category.size }})</ul>
  {% endfor %}
</div>

<div id="tags">
  <p>Tags</p>
  <p>
    {% for tag in tags %}
      {{ tag.name }}({{ tag.size }})
    {% endfor %}
  </p>
</div>

