pink = #B35588
pinkBg = #F9F2F5
blue = #477DA5
blueBg = #E9F3F7
green = #548064 
greenBg = #EEF3ED
purple = #A48BBE
purpleBg = #F6F3F8
themeColor = pink
themeColorBg = pinkBg

body
  color: black
  line-height: 1.5

strong
  color: themeColor
  font-weight: bold

// site meta
.site-title
  font-weight: bold

.brand
  background: white
  color: black
  font-size: 1.5em
  text-decoration: underline
  &:hover
    color: themeColor

.pagination
  border: none
  .page-number
    border: none
  .extend
    border: none

// archieve list styles
.collection-title
  display: none
.posts-collapse .post-content
  .collection-year
    margin: 30px 0 10px 0

  .post-header
    color: black
    margin: 10px 2px 0

// post styles
.post-block
  h1.post-title
    font-size: 2em
    font-weight: bold !important

  .post-body
    text-align: left

    table
      font-size: 0.8em

    aside
      background: #F1F1EF
      padding: 10px 20px
      border-radius: 5px
      margin: 0 0 20px
      p
        padding: 0
        margin: 0

    code
      color: themeColor
      background: themeColorBg
      text-decoration: none !important

    em
      font-style: normal
      border-bottom: solid 1px black

    .highlight
      border-radius: 5px

    figcaption
      font-weight: normal !important
      line-height: 1.2
      text-align: left
      strong
        color: #999 !important

    .code
      font-size: 0.95em

  // copyright
  .post-copyright
    ul
      border-left: solid 3px themeColor

// related posts
.posts-related
  margin: 50px 0
  .popular-posts-title
    font-size: 1.2em
  .popular-posts
    list-style-type: none
    padding-left: 0 
    .popular-posts-item
      line-height: 1.6
      margin-bottom: 10px
      .popular-posts-link
        opacity: 1
        border-bottom: none
        display: flex
        flex-direction: column
      .popular-posts-title
        font-size: 1em
      .popular-posts-time
        opacity: 0.5
        font-size: 0.8em
        margin-bottom: -5px
        text-decoration: none !important

.book-cover
  margin: 0 auto
  width: 40%
  img
    border-radius: 5px
    box-shadow: 0 0 15px #eee
  .book-authors
    font-size: 0.8em

@media (max-width: 991px)
  .math.display
    font-size: 0.8em

  .post-block
    .post-body
      img
        width: 95% !important
      figure 
        margin-inline-start: 10px !important
        margin-inline-end: 10px !important
        &.book-cover
          margin: 0 auto !important

      .code
        font-size: 0.7em

.pagination
  .page-number.current
    background: themeColor

.with-love
  color: themeColor

.theme-color-blue
  code
    color: blue !important
    background: blueBg !important
    text-decoration: none !important

.theme-color-green
  code
    color: green !important
    background: greenBg !important
    text-decoration: none !important

.theme-color-purple
  code
    color: purple !important
    background: purpleBg !important
    text-decoration: none !important

.post-copyright
  font-size: 0.8em